body {
  background-image: linear-gradient(rgb(84, 13, 72), rgb(32, 1, 45));
  background-color: rgb(32, 1, 45);
  font-family: sans-serif;
  height: 100vh;
}

.auth-btn {
  color: white;
  background-image: linear-gradient(rgb(222, 62, 195), rgb(182, 41, 158));
  background-color: rgb(182, 41, 158); color: rgb(255, 255, 255);
  white-space: nowrap;
  cursor: pointer;
  font-weight: 600;
}
